[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
autopep8 = "*"

[packages]
pandas = "*"
xlrd = "*"
requests = "*"

[requires]
python_version = "3.6"
